<div class="container">
  <p class="lead"><strong>Object: </strong><%= @email.object %></p>
  <hr>
  <p class="lead"><strong>Body: </strong></p>
  <%= @email.body %>
  <br><br>
  <%= link_to "Supprimer", email_path, :class => "btn btn-primary", :method => 'DELETE', :data => {:confirm => 'Sûr ?'}, remote: true %>
  <%= link_to "Marquer comme non-lu", emails_path, class: "btn btn-light"%>
</div> 