<div class="container px-5 mb-5">
  <%= link_to "Recevoir un email", emails_path, class: "btn btn-primary", :method => 'POST', remote: true %>

  <div class="row mx-lg-n5 mt-4">
    <div class="col py-3 px-lg-5 border bg-light">
      <h3>Liste des emails</h3>
      <ul class="list-unstyled text-small" id="email-new">
        <% @emails.each do |email|  %>
            <a href='<%= email_path(email) %>' data-remote= 'true' >
              <li class='remove-<%= email.id %>' <% if email.read == true %> style="color: black;" <% end %>>
                  <%= email.object %>
              </li>
            </a>
        <% end %>
      </ul>
    </div>

    <div class="col py-3 px-lg-5 border bg-light">
      <h3>Email sélectionné</h3>
      <div id="email-show"></div>
    </div>
    
  </div>
</div>